/* .home{
    background-color: aqua;
    background-image: url("../assets/WhatsApp Image 2023-12-30 at 12.34.30 AM.jpeg");
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70rem;
    min-width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
/* .home-head{ */
    /* display: flex;
    justify-content: center;
    align-items: center; */
/* } */